@model About
<h1>@Model.Title</h1>
<div class="alert alert-primary">@Model.Description</div>

<p>Tags:</p>

<ul>
    @foreach (var tag in Model.Tags)
    {
        <li>@tag</li>
    }
</ul>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-sm-4 border">
            One of three columns
        </div>
        <div class="col-sm-1 border">
            One of three columns
        </div>
        <div class="col-sm-1 border">
            One of three columns
        </div>
    </div>
</div>