@model List<Person>

@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
    var email = "Support@contoso.com";
}
<h1>@ViewData["Title"]</h1>

<p>ziemniaki z cebula</p>

<p>It is @currentYear : )</p>

@if (dayOfWeek == DayOfWeek.Sunday || dayOfWeek == DayOfWeek.Saturday)
{
    <p>Weekend!</p>
}
else
{
    <p>Not yet weekend :(</p>
}

@switch (dayOfWeek)
{
    case DayOfWeek.Monday:
        <p>It's Monday : (</p>
        break;
    default:
        <p>It's not monday : D</p>
        break;
}

<p>Test</p>

<a href="mailto:@email">@email</a>

<br /> 

FirstName | LastName

@foreach(var person in Model)
{
    <p>@person.FirstName | @person.LastName</p>
}